<h1>Login</h1>

<form action="/register" method="POST">
    
    <label for="email">Email</label>
    <input type="text" id="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" required>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>